# Python
__pycache__/
*.py[cod]
*.egg-info/

# PyCharm
.idea/
*.iml

# Environment
.env
venv/
.env.*

# Credentials
*key.json

# Bytecode / C extensions
*.so
*.pyd
*.dll
*.db

# OS junk
.DS_Store
Thumbs.db
py-schedie-priv-key.json

#
*priv-key*.json
notes.txt