# Python
__pycache__/
*.py[cod]
*.egg-info/

# PyCharm
.idea/
*.iml

# Environment
config/.env
venv/
.env.*

# Credentials
*key.json

# Bytecode / C extensions
*.so
*.pyd
*.dll
*.db
*.log
# OS junk
.DS_Store
Thumbs.db

#
*priv-key*.json
notes.txt
*.conf
.vscode/.*
tests/

node_modules/

*.md

postgres/postgres_data